*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #25182E;
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-color: #CA1F30;
    color: white;
    border-radius: 13px;
    /* border: 1px solid #FFBE00; */
    box-shadow: 0 0 1em 5px rgb(15, 15, 15) ;

    position: relative;
    width: 230px;
    height: 390px;
}

main img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.conteudo-1{
    padding-top: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
}

.conteudo-2{
    padding-top: 25px;
}

#btn-number{
    height: 25px;
    border: 1px solid black;
}

#btn{
    width: 172px;
    height: 23px;
    margin-top: 8px;

    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#res{
    background-color: #ffbe00;
    color: #25182E;
    font-size: x-large;
    border-radius: 5px;
    /* border: 1px solid black; */
    box-shadow: 0 0 0.3em black;

    width: 175px;
    height: 135px;
    padding-top: 23px;
    position: absolute;
}
